{% load staticfiles  %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\foundation.min.css' %}">

</head>
<body>
    <h1 class="ejemplo1">Hi World!!</h1>
    <h2 class="ejemplo2">Otros Estilos!</h2>
    <!-- Anchors (links) -->
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button">View All Features</a>

    <!-- Buttons (actions) -->
    <button type="button" class="success button">Save</button>
    <button type="button" class="alert button">Delete</button>
</body>
</html>


