{% extends 'base.html'%}

{% block title %}
    Lista Departamentos
{% endblock title %}

{% block content %}
    {% include "includes/header.html" %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista de Departamentos</h1>
            <div class="cell">
                <table>
                    <tbody>
                        {% for d in departamentos  %}
                        <tr>
                          <td>{{ d.name }}</td>
                          <td>{{ d.short_name }}</td>
                          <td><a class="button warning"
                                 href="{% url 'persona_app:empleado_area' d.short_name%}">Ver Empleados</a>
                          </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}